/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header div.container {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

header div.container nav ul {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    text-align: right;
}

img {
    object-fit: cover;
    height: 250px;
    width: 250px;
}

section.overview-hero div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    margin: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
}

header div.container nav ul li {
    margin: 10px;
}

section.learn-about div.container div.cards {
    display: grid;
    grid-template-columns: auto auto auto;
}

section.testing div.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
}

section.stories div.container article{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}

section.stories div.container img{
    height: 375px;
    width: 375px;
    border-radius: 100%;
    object-fit: cover; 
    float: left; 
    padding-right: 10px;
}

section.stories div.container img{
    padding-right: 25px;
}

section.newsletter div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section.newsletter div.container form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}